<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="AHT_Sa::commission" title="Use Commission" sortOrder="150">
                    <resource id="AHT_Sa::commission2" title="Commission" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>