<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="helloworld_post_listing_data_source" xsi:type="string">helloworld_post_collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="helloworld_post_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">ViMagento\HelloWorld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>